extend layout
block content
	.container(style="width:80%;")
		.row-fluid
			.span8
				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					h3.text-center	Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布
					p.text-center
						|作者： David * 2017年2月20日
					p.text-left
						| Laravel 的上一个 LTS（长期支持）版本是 Laravel 5.1，发布于 2015 年 6 月，按照对 LTS 版本的约定，两年的 bug 修复支持到今年中旬就结束了，所以今年中旬必然要出一个 LTS 后继版本，就是 Laravel 5.5。
					a.btn.btn-info(href="#") 阅读全文

				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					h3.text-center	Laravel 5.5 将是下一个 LTS 版本，预计 7/8 月份发布
					p.text-center
						|作者： David * 2017年2月20日
					p.text-left
						| Laravel 的上一个 LTS（长期支持）版本是 Laravel 5.1，发布于 2015 年 6 月，按照对 LTS 版本的约定，两年的 bug 修复支持到今年中旬就结束了，所以今年中旬必然要出一个 LTS 后继版本，就是 Laravel 5.5。
					a.btn.btn-info(href="#") 阅读全文
			.span4
				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					table.table
						thead
							tr
								th
									h3 标签们
						tbody
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td
									a(href="#") 讨论区 <span class="badge badge-success">5369</span>
							tr
								td.text-right(style="text-align:right;")
									a(href="#") 更多》
				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					table.table
						thead
							tr
								th
									h3 讨论最多的
						tbody
							tr
								td
									a(href="#") 讨论区
							tr
								td.text-right(style="text-align:right;")
									a(href="#") 更多》

				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					table.table
						thead
							tr
								th
									h3 点赞最多的
						tbody
							tr
								td
									a(href="#") 讨论区
							tr
								td.text-right(style="text-align:right;")
									a(href="#") 更多》

				div(style="padding:15px; margin-bottom:15px;background:#ffffff;border-radius: 5px;")
					table.table
						thead
							tr
								th
									h3 被踏雪的
						tbody
							tr
								td
									a(href="#") 讨论区
							tr
								td.text-right(style="text-align:right;")
									a(href="#") 更多》
